

.card-table-container {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-table {
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    overflow: hidden;
}

.card-table table {
    width: 100%;
    border-collapse: collapse;
}

.card-table th,
.card-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.card-table th {
    background-color: #ffffff;
    color: #000;
    text-align: left;
}

.card-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.card-table tbody tr:hover {
    background-color: #e4e4e4;
}

@media only screen and (max-width: 600px) {
    .card-table th, .card-table td {
        font-size: 12px;
        padding: 8px;
    }
}