.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboard-sidebar {
  width: 20%;
  background-color: #2a2e33;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px 0; */
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 15px 0;
  background-color: #2a2e33;
}

.sidebar-logo img {
  width: 40%;
  /* margin: 0 auto 20px auto; */
}

.sidebar-menu {
  margin-top: 62px;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu ul li {
  margin: 10px 0;
}

.sidebar-menu ul li span {
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s, padding 0.3s, color 0.3s;
}

.sidebar-menu ul li span:hover,
.sidebar-menu ul li span.active {
  background-color: #1e2530;
  color: #fff;
  padding-left: 15px;
}

.dashboard-main {
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  background-color: #f1f1f1;
  padding: 10px 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  position: relative;
}

.address-bar {
  width: 100%;
  text-align: left;
  padding: 10px 0;
  color: #333;
  /* border-top: 1px solid #ccc; */
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.user-logo {
  background-color: #1e2530;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  font-size: 1em;
  color: #333;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background 0.3s;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 14px;
}
