input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea,
input[type="number"],
input[type="file"],
input[type="time"],
select {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background-color: white;
  color: black;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="datetime-local"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea,
.form-group input[type="number"],
.form-group input[type="file"],
.form-group input[type="time"],
.form-group select {
  margin-bottom: 1px;
}

.error-text {
  font-size: 14px;
  color: #cc0000;
}

.success-text {
  font-size: 14px;
  color: green;
}

.form-group {
  margin-bottom: 10px;
}

input[type="text"]:disabled,
input[type="datetime-local"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
textarea:disabled,
input[type="number"]:disabled,
input[type="file"]:disabled,
input[type="time"]:disabled,
select:disabled {
  background-color: #eeeeee;
}

button {
  min-width: 150px;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: #7267ef;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #7a7a7a;
  cursor: default;
}

button:disabled:hover {
  background-color: #7a7a7a;
}

button.block {
  width: 100%;
}

button:hover {
  background-color: #5d52cf;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.form-heading {
  background-color: #7267ef;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}
/* css for table */

.card-table-container {
  max-width: 100%;
  margin: 20px 0;
  /* padding: 20px; */
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-table {
  border-radius: 2px;
  overflow: hidden;
}

.card-table table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

.card-table th,
.card-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc !important;
}

.card-table th {
  background-color: #ffffff;
  color: #000;
  text-align: left;
}

.card-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: end;
}

.section-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.user-profile {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.green-text {
  color: green;
}
