.ims-login-body {
  margin: 0;
  padding: 0;
  background-color: #7267ef;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ims-login-box {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
}

.ims-login-box .ims-login-heading {
  margin-bottom: 20px;
  color: #333;
}

.ims-login-box .ims-login-logo {
  width: 140px;
  height: 60px;
  margin-bottom: 30px;
}

.ims-login-box .ims-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.ims-login-box .ims-forgot-password {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.ims-login-box .ims-buttons {
  display: flex;
}

.ims-login-box .ims-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #7267ef;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.ims-login-box .ims-buttons button:last-child {
  margin-right: 0;
}

.ims-login-box .ims-buttons button:hover {
  background-color: #5d52cf;
}
