/* CSS for table */

.card-table-container {
  padding: 20px 0 0 0;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: scroll;
}

.card-table {
  border-radius: 2px;
  overflow: auto;
}

.card-table table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  overflow-x: auto;
}

.card-table .table-responsive::-webkit-scrollbar {
  width: 0 !important;
}

.card-table th,
.card-table td {
  padding: 10px;
  text-align: left;
  border: 2px solid white;
}

.card-table th {
  background-color: #2a2e33;
  color: #fff;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
}

.card-table th:nth-child(1) {
  border-top-left-radius: 8px;
}
.card-table th:last-child {
  border-top-right-radius: 8px;
}

.card-table tbody tr:nth-child(even) {
  background-color: #d1e7f3;
}

.card-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.card-table tbody tr:hover {
  background-color: #a2c5d8;
}

.card-table td {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
}

.card-table tbody tr:last-child td {
  border-bottom: none;
}

.certificate-table-img {
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .card-table th,
  .card-table td {
    font-size: 12px;
    padding: 8px;
  }
}
.table-heading {
  background-color: #4e73df;
  color: #fff;
  padding: 30px;
  border-radius: 5px 5px 0 0;
  padding: 20px;
}